.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
}

.section-content{
    text-align: center;

}
#contact{

    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;

    background: black
    color : #fff;
}
.contact-section{
    padding-top: 40px;
}
.contact-section .col-md-6{
    width: 50%;
}

.form-line{
    border-right: 1px solid #B29999;
}

.form-group{
    margin-top: 10px;
}
label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}
.form-control{
    font-size: 1.3em;
    color: #080808;
}
textarea.form-control {
    height: 135px;
    /* margin-top: px;*/
}

.submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;

}

.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer{
    background: black;
    color:white;

.links{
ul {list-style-type: none;}
li a{
    color: white;
    transition: color .2s;
&:hover{
     text-decoration:none;
     color:#4180CB;
 }
}
}
.about-company{
i{font-size: 25px;}
a{
    color:white;
    transition: color .2s;
&:hover{color:#4180CB}
}
}
.location{
i{font-size: 18px;}
}
.copyright p{border-top:1px solid rgba(255,255,255,.1);}
}
.paddingTop {
    padding-top: 50px;
}

.paddingTopBlog {
    padding-top: 20px;
}